/* preliminary */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html {
    font-family: "Poppins", sans-serif;
}

/* navbar */
nav a
{
    text-decoration: none;
    color: white;
    font-size: 1.4em;
}

nav .navbar-logo
{
    font-size: 3em;
}

/* section-join */

/* slogan */
main .section-join .slogan
{
    color: #000000;
    font-style:italic;
    font-weight:bold;
    font-size: 2.5em

}

/* button */
button
{
    color: white;
    font-size: 2em;
}

/* section-about */


main .section-about 
.section-about-container h1
{
    font-weight: 600;
}

main .section-about
.section-about-container p
{
    text-align: justify;

}